*.project
*.classpath
*.springbeans
**/*.settings
**/*.idea
**/target
**/bin
**/build
**/RemoteSystemsTempFiles
**/servers
**/.metadata
**/.settings
**/.recommenders
**/ppt
**/backup
**/programs
**/courseOutline/*.docx
**/assessments
**/casestudy
**/projects
**/references/dumbs
**/report
**/*.gitignore
**/Servers
**/*.log